

h1 {color: #000000; 
	font-family: Rockwell;
	font-size: 54px; 
	font-weight: 300; 
}
	
h2 {color: #7c795d; 
	font-family: 'Source Sans Pro', sans-serif; 
	font-size: 28px; 
	font-weight: 400;
}

p	{
	font-size: 13pt;
	text-align: justify;

	}

hr	{color: black;
	height: 2px;
	}

ol{
	list-style-type: upper-roman;
}
ul {
	list-style-type: disc;
}


#seitenaufbau{
	
	margin-left: 20%;
	margin-right: 20%;
	
}

h3	{color: black;
	font-family: italic;
	}


table {
	border-collapse: separate;
	border-spacing: .2em;
	margin-left: 2em;
	box-shadow: 0 0 .1em #666;
	position: relative;
	z-index: 1;
}

th,
td {
	padding: .2em .5em;
	border-radius: .1em;
}

thead th {
	background-color: #ffebe6;
	color: #c32e04;
}

td {
	font-style: italic;
	text-align: right;
	box-shadow: inset 1px 3px 5px -3px rgba(0, 0, 0, 0.5);
}

tbody tr:nth-child(even) td {
	background-color: #FFFFFF;
	color: #000;
}

td:empty {
	box-shadow: none;
	background-color: none;
}

th[scope=row] {
	color: #c32e04;
	text-align: right;
	background-color: transparent;
}

caption {
	color: white;
	background: #c32e04;
	font-size: 1.5em;
	box-shadow: .1em .1em .1em 0 hsl(0, 0%, 50%);
	padding: .2em .2em .2em 2em;
	width: 15em;
	margin-left: -.6em;
	position: relative;
}

caption::before {
	content: "";
	position: absolute;
	display: block;
	height: 0;
	width: 0;
	top: 1em;
	left: -.6em;
	border-style: solid;
	border-width: .6em;
	border-color: transparent hsl(13, 96%, 35%) transparent transparent;
	z-index: -1;
}



form input{
    position:absolute;
    left:200px;
	
} 
br{
    margin-bottom:10px;
}
footer {
	
	padding: 10px;
	border-color: #263238;
}

#formular {
	background-color: #23d0ec;
	font-family: 'Times New Roman', serif;
	margin: 60px;
	margin-left: 50px;
	margin-right: 50px;
	
}

.stundenplan{
	text-decoration: none;
	color: black;
	
}


.footer {
  display: flex;
  flex-flow: row wrap;
  padding: 30px 30px 20px 30px;
  color: #2f2f2f;
  background-color: #FFFFFF;
  border-top: 1px solid #e5e5e5;
}

.footer > * {
  flex:  1 100%;
}

.footer__addr {
  margin-right: 1.25em;
  margin-bottom: 2em;
}


.footer__addr h2 {
  margin-top: 1.3em;
  font-size: 15px;
  font-weight: 400;
}

.nav__title {
  font-weight: 400;
  font-size: 20px;
}

.footer address {
  font-style: normal;
  color: #999;
}

.footer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  max-width: max-content;
  background-color: rgb(33, 33, 33, 0.07);
  border-radius: 100px;
  color: #2f2f2f;
  line-height: 0;
  margin: 0.6em 0;
  font-size: 1rem;
  padding: 0 1.3em;
}

.footer ul {
  list-style: none;
  padding-left: 0;
}

.footer li {
  line-height: 2em;
}

.footer a {
  text-decoration: none;
}

.footer__nav {
  display: flex;
	flex-flow: row wrap;
}

.footer__nav > * {
  flex: 1 50%;
  margin-right: 1.25em;
}

.nav__ul a {
  color: #999;
}

.nav__ul--extra {
  column-count: 2;
  column-gap: 1.25em;
}

.legal {
  display: flex;
  flex-wrap: wrap;
  color: #999;
}
  
.legal__links {
  display: flex;
  align-items: center;
}

.heart {
  color: #2f2f2f;
}

@media screen and (min-width: 24.375em) {
  .legal .legal__links {
    margin-left: auto;
  }
}

@media screen and (min-width: 40.375em) {
  .footer__nav > * {
    flex: 1;
  }
  
  .nav__item--extra {
    flex-grow: 2;
  }
  
  .footer__addr {
    flex: 1 0px;
  }
  
  .footer__nav {
    flex: 2 0px;
  }
}


.navbar {
    width:100%;
    display:table;
    border-collapse:collapse;
	border: solid black 2px;
	height: 30px;
	
	
}

.navbar li{
        display:table-cell;
        text-align:center;
        box-sizing:border-box;
        border:black 1px solid;
		padding-top: 2px;
		padding-bottom: 2px;
}


.navbar a{
	text-decoration: none;
}	
.navbar li:hover {
	color: #7c795d;
	background-color: #9bd7fa;
 }
	
#tablenav{
	margin-left: 0em; 
	width: 100%; 
	text-decoration: none;
	border: black solid 1px;
	
	
}
#tablenav th{
	border: white solid 0px;
}

#tablenav a:hover{
	color: #7c795d;
	font-weight: bold;
}

.seite{
	text-decoration: none;
	color: black;
	font-size: 14pt;
}

.aktuell{
	font-weight: bold;
	font-size: 16pt;
	color: #7c795d;
	text-decoration: underline;
	}

#nebenbild{

margin-top: 5%;
color: #000000; 
	font-family: Rockwell;
	font-size: 54px; 
	font-weight: 300;
	float: left;

}
#bild{
	float: left;
	margin-left: 25%;
}
#rest{
	clear: both;
}

.navbar {
  overflow: hidden;
  background-color: #333;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: red;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}